{% set title = "destinations" %}


{% extends "main.tpl" %} {% block content %}

<div>
  <div class="page">
    <div class="page-head">
      <div class="page-header">
        {%include "components/header.html" %}
      </div>
      <section class="banner">
        <div class="banner-filter"></div>
        <div class="banner-bg" style="background-image:url('http://picsum.photos/1000')"></div>
        <div class="wrap">
          <div class="banner-inner">
            <div class="banner-text">
              <h1 class="banner-title m-b-10">Места для посешения</h1>
              <div class="banner-descr">Проникновенный литературный концерт выдающейся Дины Рубиной — одной из самых
                читаемых
                современных авторов, <br> лауреата многих престижных международных премий, чьи книги переведены на 38
                языков
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<main>
  <div class="myContainer">
    <div class="row">
      <div class="col-md-12">
        <div>
          <div class="title-dest">Места для посешения</div>
          <div class="m-b-20">
            <div class="m-b-10 text">
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut commodi voluptas nostrum et quod soluta
                aperiam
                voluptatum nam vel provident at voluptate sequi, placeat quos voluptatibus dolorum nesciunt sit? Ex?
              </p>

            </div>
            <div class="toggle-content">
              <p class="m-b-10">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, beatae unde? Saepe expedita quia
                maxime
                blanditiis optio aliquid pariatur cupiditate temporibus suscipit impedit, hic deleniti voluptates,
                adipisci,
                non
                beatae illo!

              </p>

            </div>
            <div class="toggle-btn">
              <div class="show">
                Читать далее
              </div>

            </div>
            <div class="hide">
              Свернуть
            </div>
            <div></div>
          </div>
        </div>
      </div>
    </div>
    <section>
      <a class="section-link" href="#!">
        <div class="dest-card">
          <div class="dest-card-img">
            <img src="http://picsum.photos/1000" alt="">
          </div>
          <div class="dest-card-contend">
            <div class="dest-contend-inner">
              <div class="dest-card-title">Места для посешения</div>
              <div class="dest-rank-wrap">
                <div>
                  <div>
                    <svg style="display: none;">
                      <symbol id="star" viewBox="0 0 98 92">
                        <title>star</title>
                        <path stroke='orange' stroke-width='5'
                          d='M49 73.5L22.55 87.406l5.05-29.453-21.398-20.86 29.573-4.296L49 6l13.225 26.797 29.573 4.297-21.4 20.86 5.052 29.452z'
                          fill-rule='evenodd' />
                    </svg>

                    <div class="rating">
                      <a href="javascript:;" class="rating__button" href="#"><svg class="rating__star">
                          <use xlink:href="#star"></use>
                        </svg></a>
                      <a href="javascript:;" class="rating__button" href="#"><svg class="rating__star">
                          <use xlink:href="#star"></use>
                        </svg></a>
                      <a href="javascript:;" class="rating__button" href="#"><svg class="rating__star">
                          <use xlink:href="#star"></use>
                        </svg></a>
                      <a href="javascript:;" class="rating__button" href="#"><svg class="rating__star">
                          <use xlink:href="#star"></use>
                        </svg></a>
                      <a href="javascript:;" class="rating__button" href="#"><svg class="rating__star">
                          <use xlink:href="#star"></use>
                        </svg></a>
                    </div>
                  </div>
                </div>
                <div class="ranking">Rated 4.9 / Reviews 7</div>
              </div>
              <div>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quidem iusto unde, numquam officia ab harum
                quisquam maxime architecto aperiam quis error nemo veritatis id natus enim accusantium quas deleniti
                nihil.

              </div>
              <div class="dest-duration"><span>Duration: 6 hrs</span></div>

            </div>
            <div class="dest-card-price">
              <div>
                <div><span class="price">$</span><span class="card-price">75</span></div>
                <div class="exprice">$80</div>
              </div>

            </div>

          </div>

        </div>
      </a>
    </section>

    <section>
      <a class="section-link" href="#!">
        <div class="dest-card">
          <div class="dest-card-img">
            <img src="http://picsum.photos/1002" alt="">
          </div>
          <div class="dest-card-contend">
            <div class="dest-contend-inner">
              <div class="dest-card-title">Места для посешения</div>
              <div class="dest-rank-wrap">
                <div>
                  <div>
                    <svg style="display: none;">
                      <symbol id="star" viewBox="0 0 98 92">
                        <title>star</title>
                        <path stroke='orange' stroke-width='5'
                          d='M49 73.5L22.55 87.406l5.05-29.453-21.398-20.86 29.573-4.296L49 6l13.225 26.797 29.573 4.297-21.4 20.86 5.052 29.452z'
                          fill-rule='evenodd' />
                    </svg>

                    <div class="rating">
                      <a href="javascript:;" class="rating__button" href="#"><svg class="rating__star">
                          <use xlink:href="#star"></use>
                        </svg></a>
                      <a href="javascript:;" class="rating__button" href="#"><svg class="rating__star">
                          <use xlink:href="#star"></use>
                        </svg></a>
                      <a href="javascript:;" class="rating__button" href="#"><svg class="rating__star">
                          <use xlink:href="#star"></use>
                        </svg></a>
                      <a href="javascript:;" class="rating__button" href="#"><svg class="rating__star">
                          <use xlink:href="#star"></use>
                        </svg></a>
                      <a href="javascript:;" class="rating__button" href="#"><svg class="rating__star">
                          <use xlink:href="#star"></use>
                        </svg></a>
                    </div>
                  </div>
                </div>
                <div class="ranking">Rated 4.9 / Reviews 7</div>
              </div>
              <div>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quidem iusto unde, numquam officia ab harum
                quisquam maxime architecto aperiam quis error nemo veritatis id natus enim accusantium quas deleniti
                nihil.

              </div>
              <div class="dest-duration"><span>Duration: 6 hrs</span></div>
            </div>
            <div class="dest-card-price">
              <div>
                <div><span class="price">$</span><span class="card-price">75</span></div>
                <div class="exprice">$80</div>
              </div>

            </div>

          </div>

        </div>
      </a>
    </section>

    <section>
      <a class="section-link" href="#!">
        <div class="dest-card">
          <div class="dest-card-img">
            <img src="http://picsum.photos/1001" alt="">
          </div>
          <div class="dest-card-contend">
            <div class="dest-contend-inner">
              <div class="dest-card-title">Места для посешения</div>
              <div class="dest-rank-wrap">
                <div>
                  <div>
                    <svg style="display: none;">
                      <symbol id="star" viewBox="0 0 98 92">
                        <title>star</title>
                        <path stroke='orange' stroke-width='5'
                          d='M49 73.5L22.55 87.406l5.05-29.453-21.398-20.86 29.573-4.296L49 6l13.225 26.797 29.573 4.297-21.4 20.86 5.052 29.452z'
                          fill-rule='evenodd' />
                    </svg>

                    <div class="rating">
                      <a href="javascript:;" class="rating__button" href="#"><svg class="rating__star">
                          <use xlink:href="#star"></use>
                        </svg></a>
                      <a href="javascript:;" class="rating__button" href="#"><svg class="rating__star">
                          <use xlink:href="#star"></use>
                        </svg></a>
                      <a href="javascript:;" class="rating__button" href="#"><svg class="rating__star">
                          <use xlink:href="#star"></use>
                        </svg></a>
                      <a href="javascript:;" class="rating__button" href="#"><svg class="rating__star">
                          <use xlink:href="#star"></use>
                        </svg></a>
                      <a href="javascript:;" class="rating__button" href="#"><svg class="rating__star">
                          <use xlink:href="#star"></use>
                        </svg></a>
                    </div>
                  </div>
                </div>
                <div class="ranking">Rated 4.9 / Reviews 7</div>
              </div>
              <div>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quidem iusto unde, numquam officia ab harum
                quisquam maxime architecto aperiam quis error nemo veritatis id natus enim accusantium quas deleniti
                nihil.

              </div>
              <div class="dest-duration"><span>Duration: 6 hrs</span></div>
            </div>
            <div class="dest-card-price">
              <div>
                <div><span class="price">$</span><span class="card-price">75</span></div>
                <div class="exprice">$80</div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </section>


  </div>
</main>

{% include "components/footer.html" %}

{%endblock %}