{% set title = "gids" %}


{% extends "main.tpl" %} {% block content %}

{%include "components/header.html" %}

<div class="myContainer">
  <div class="row">
    <div class="col-md-12">
      <div class="gid-title">
        Гид
      </div>
      <div class="m-b-20">
        <h2 class="m-b-20">О туры</h2>
        <div class="m-b-10 text">
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut commodi voluptas nostrum et quod soluta aperiam
            voluptatum nam vel provident at voluptate sequi, placeat quos voluptatibus dolorum nesciunt sit? Ex?
          </p>

        </div>
        <div class="toggle-content">
          <p class="m-b-10">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, beatae unde? Saepe expedita quia maxime
            blanditiis optio aliquid pariatur cupiditate temporibus suscipit impedit, hic deleniti voluptates, adipisci,
            non
            beatae illo!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, beatae unde? Saepe expedita quia maxime
            blanditiis optio aliquid pariatur cupiditate temporibus suscipit impedit, hic deleniti voluptates, adipisci,
            non
            beatae illo!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, beatae unde? Saepe expedita quia maxime
            blanditiis optio aliquid pariatur cupiditate temporibus suscipit impedit, hic deleniti voluptates, adipisci,
            non
            beatae illo!
          </p>

        </div>
        <div class="toggle-btn">
          <div class="show">
            Читать далее
          </div>

        </div>
        <div class="hide">
          Свернуть
        </div>
        <div></div>
      </div>
    </div>
    <div class="col-md-4">
      <section>
        <div class="card">
          <div class="profile-image">
            <img
              src="https://images.unsplash.com/photo-1529626455594-4ff0802cfb7e?ixid=MXwxMjA3fDB8MHxzZWFyY2h8M3x8Z2lybHxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80"
              alt="">
          </div>

          <div class="card-content">
            <h3>Andrea Joe</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's
              standard dummy text ever since the 1500s.</p>
          </div>
          <div class="profile-info">
            <p>Language</p>
            <div class="lang">Uzbek</div>
            <div class="lang">English</div>
            <div class="lang">Rus</div>
          </div>
          <div class="profile-rank">
            <div>
              <svg style="display: none;">
                <symbol id="star" viewBox="0 0 98 92">
                  <title>star</title>
                  <path stroke='orange' stroke-width='5'
                    d='M49 73.5L22.55 87.406l5.05-29.453-21.398-20.86 29.573-4.296L49 6l13.225 26.797 29.573 4.297-21.4 20.86 5.052 29.452z'
                    fill-rule='evenodd' />
              </svg>

              <div class="rating">
                <a href="javascript:;" class="rating__button" href="#"><svg class="rating__star">
                    <use xlink:href="#star"></use>
                  </svg></a>
                <a href="javascript:;" class="rating__button" href="#"><svg class="rating__star">
                    <use xlink:href="#star"></use>
                  </svg></a>
                <a href="javascript:;" class="rating__button" href="#"><svg class="rating__star">
                    <use xlink:href="#star"></use>
                  </svg></a>
                <a href="javascript:;" class="rating__button" href="#"><svg class="rating__star">
                    <use xlink:href="#star"></use>
                  </svg></a>
                <a href="javascript:;" class="rating__button" href="#"><svg class="rating__star">
                    <use xlink:href="#star"></use>
                  </svg></a>
              </div>
            </div>
          </div>
          <div class="icons">
            <a href="#!" class="fab fa-facebook-f"></a>
            <a href="#!" class="fab fa-telegram"></a>
            <a href="#!" class="fab fa-instagram"></a>
            <a href="#!" class="fab fa-twitter"></a>
            <a href="#!" class="fab fa-youtube"></a>
          </div>
        </div>
      </section>
    </div>
    <div class="col-md-4">
      <section>
        <div class="card">
          <div class="profile-image">
            <img
              src="https://images.unsplash.com/photo-1529626455594-4ff0802cfb7e?ixid=MXwxMjA3fDB8MHxzZWFyY2h8M3x8Z2lybHxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80"
              alt="">
          </div>

          <div class="card-content">
            <h3>Andrea Joe</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's
              standard dummy text ever since the 1500s.</p>
          </div>
          <div class="profile-info">
            <p>Language</p>
            <div class="lang">Uzbek</div>
            <div class="lang">English</div>
            <div class="lang">Rus</div>
          </div>
          <div class="profile-rank">
            <div>
              <svg style="display: none;">
                <symbol id="star" viewBox="0 0 98 92">
                  <title>star</title>
                  <path stroke='orange' stroke-width='5'
                    d='M49 73.5L22.55 87.406l5.05-29.453-21.398-20.86 29.573-4.296L49 6l13.225 26.797 29.573 4.297-21.4 20.86 5.052 29.452z'
                    fill-rule='evenodd' />
              </svg>

              <div class="rating">
                <a href="javascript:;" class="rating__button" href="#"><svg class="rating__star">
                    <use xlink:href="#star"></use>
                  </svg></a>
                <a href="javascript:;" class="rating__button" href="#"><svg class="rating__star">
                    <use xlink:href="#star"></use>
                  </svg></a>
                <a href="javascript:;" class="rating__button" href="#"><svg class="rating__star">
                    <use xlink:href="#star"></use>
                  </svg></a>
                <a href="javascript:;" class="rating__button" href="#"><svg class="rating__star">
                    <use xlink:href="#star"></use>
                  </svg></a>
                <a href="javascript:;" class="rating__button" href="#"><svg class="rating__star">
                    <use xlink:href="#star"></use>
                  </svg></a>
              </div>
            </div>
          </div>
          <div class="icons">
            <a href="#!" class="fab fa-facebook-f"></a>
            <a href="#!" class="fab fa-telegram"></a>
            <a href="#!" class="fab fa-instagram"></a>
            <a href="#!" class="fab fa-twitter"></a>
            <a href="#!" class="fab fa-youtube"></a>
          </div>
        </div>
      </section>
    </div>
    <div class="col-md-4">
      <section>
        <div class="card">
          <div class="profile-image">
            <img
              src="https://images.unsplash.com/photo-1529626455594-4ff0802cfb7e?ixid=MXwxMjA3fDB8MHxzZWFyY2h8M3x8Z2lybHxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80"
              alt="">
          </div>

          <div class="card-content">
            <h3>Andrea Joe</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's
              standard dummy text ever since the 1500s.</p>
          </div>
          <div class="profile-info">
            <p>Language</p>
            <div class="lang">Uzbek</div>
            <div class="lang">English</div>
            <div class="lang">Rus</div>
          </div>
          <div class="profile-rank">
            <div>
              <svg style="display: none;">
                <symbol id="star" viewBox="0 0 98 92">
                  <title>star</title>
                  <path stroke='orange' stroke-width='5'
                    d='M49 73.5L22.55 87.406l5.05-29.453-21.398-20.86 29.573-4.296L49 6l13.225 26.797 29.573 4.297-21.4 20.86 5.052 29.452z'
                    fill-rule='evenodd' />
              </svg>

              <div class="rating">
                <a href="javascript:;" class="rating__button" href="#"><svg class="rating__star">
                    <use xlink:href="#star"></use>
                  </svg></a>
                <a href="javascript:;" class="rating__button" href="#"><svg class="rating__star">
                    <use xlink:href="#star"></use>
                  </svg></a>
                <a href="javascript:;" class="rating__button" href="#"><svg class="rating__star">
                    <use xlink:href="#star"></use>
                  </svg></a>
                <a href="javascript:;" class="rating__button" href="#"><svg class="rating__star">
                    <use xlink:href="#star"></use>
                  </svg></a>
                <a href="javascript:;" class="rating__button" href="#"><svg class="rating__star">
                    <use xlink:href="#star"></use>
                  </svg></a>
              </div>
            </div>
          </div>
          <div class="icons">
            <a href="#!" class="fab fa-facebook-f"></a>
            <a href="#!" class="fab fa-telegram"></a>
            <a href="#!" class="fab fa-instagram"></a>
            <a href="#!" class="fab fa-twitter"></a>
            <a href="#!" class="fab fa-youtube"></a>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>



{% include "components/footer.html" %}

{%endblock %}