{% set title = "index" %}


{% extends "main.tpl" %} {% block content %}

{%include "components/header.html" %}

<main>
  <div class="myContainer">
    <section class="m-t-40">
      <div class="card-title">
        <div class="title-card">Туры</div>
        <div><a class="card-sublink" href="#!">Смотреть все</a></div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-4">

          <div class="tours-card m-t-40">
            <img src="../../images/jpg/xiva.jfif" alt="">
            <div class="tours-Card-info">
              <div class="tours-card-title">Xiva</div>
              <p class="tours-card-text">
                Lorem Ipsum is simply dummy text from the printing and typeseting industry
              </p>
              <button class="tours-Card-btn"> Read More</button>
            </div>
          </div>

        </div>
        <div class="col-sm-12 col-md-4">
          <div class="tours-card m-t-40">
            <img src="../../images/jpg/buxoro.jfif" alt="">
            <div class="tours-Card-info">
              <div class="tours-card-title">Bukhoro</div>
              <p class="tours-card-text">
                Lorem Ipsum is simply dummy text from the printing and typeseting industry
              </p>
              <button class="tours-Card-btn"> Read More</button>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4">
          <div class="tours-card m-t-40">
            <img src="../../images/jpg/samarqand.jfif" alt="">
            <div class="tours-Card-info">
              <div class="tours-card-title">Samarkhand</div>
              <p class="tours-card-text">
                Lorem Ipsum is simply dummy text from the printing and typeseting industry
              </p>
              <button class="tours-Card-btn"> Read More</button>
            </div>
          </div>
        </div>

      </div>
    </section>
    <section class="m-t-40">
      <div class="myContainer">
        <div class="card-title2">
          <div class="title-card">Рестораны</div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="tours-card cardHeight">
            <img src="../../images/jpg/r1.jfif" alt="">
            <div class="tours-Card-info">
              <div class="tours-card-title">Рестораны</div>
              <p class="tours-card-text">
                Lorem Ipsum is simply dummy text from the printing and typeseting industry
              </p>
              <button class="tours-Card-btn"> Read More</button>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="tours-card cardHeight">
            <img src="../../images/jpg/r2.jfif" alt="">
            <div class="tours-Card-info">
              <div class="tours-card-title">Рестораны</div>
              <p class="tours-card-text">
                Lorem Ipsum is simply dummy text from the printing and typeseting industry
              </p>
              <button class="tours-Card-btn"> Read More</button>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="tours-card cardHeight">
            <img src="../../images/jpg/r4.jfif" alt="">
            <div class="tours-Card-info">
              <div class="tours-card-title">Рестораны</div>
              <p class="tours-card-text">
                Lorem Ipsum is simply dummy text from the printing and typeseting industry
              </p>
              <button class="tours-Card-btn"> Read More</button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="m-t-40">
      <div class="myContainer">
        <div class="card-title2">
          <div class="title-card">Отели</div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="tours-card cardHeight m-b-20">
            <img src="../../images/jpg/h1.jfif" alt="">
            <div class="tours-Card-info">
              <div class="tours-card-title">Отели</div>
              <p class="tours-card-text">
                Lorem Ipsum is simply dummy text from the printing and typeseting industry
              </p>
              <button class="tours-Card-btn"> Read More</button>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="tours-card cardHeight m-b-20">
            <img src="../../images/jpg/h2.jfif" alt="">
            <div class="tours-Card-info">
              <div class="tours-card-title">Отели</div>
              <p class="tours-card-text">
                Lorem Ipsum is simply dummy text from the printing and typeseting industry
              </p>
              <button class="tours-Card-btn"> Read More</button>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="tours-card cardHeight m-b-20">
            <img src="../../images/jpg/h4.jfif" alt="">
            <div class="tours-Card-info">
              <div class="tours-card-title">Отели</div>
              <p class="tours-card-text">
                Lorem Ipsum is simply dummy text from the printing and typeseting industry
              </p>
              <button class="tours-Card-btn"> Read More</button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>

{% include "components/footer.html" %}

{%endblock %}