{% set title = "tours.html" %}
{% extends "main.tpl" %} {% block content %}
<div class="page">
    <div class="page-head">
        <div class="page-header">
            {%include "components/header.html" %}
        </div>
        <section class="banner">
            <div class="banner-filter"></div>
            <div class="banner-bg" style="background-image:url('../../images/jpg/tours-to-bukhara.jpg')"></div>
            <div class="wrap">
                <div class="banner-inner">
                    <div class="banner-text">
                        <div class="banner-type">
                            <h1 class="m-b-20">Туры</h1>
                        </div>
                        <div class="banner-title">Дина Рубина</div>
                        <div class="banner-descr">Проникновенный литературный концерт выдающейся Дины Рубиной — одной из самых
                            читаемых
                            современных авторов, лауреата многих престижных международных премий, чьи книги переведены на 38 языков
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<div class="myContainer">
    <div class="m-b-20">
        <h2 class="m-b-20">О туры</h2>
        <div class="m-b-10 text">
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut commodi voluptas nostrum et quod soluta aperiam
                voluptatum nam vel provident at voluptate sequi, placeat quos voluptatibus dolorum nesciunt sit? Ex?
            </p>
        </div>
        <div class="toggle-content">
            <p class="m-b-10">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, beatae unde? Saepe expedita quia maxime
                blanditiis optio aliquid pariatur cupiditate temporibus suscipit impedit, hic deleniti voluptates, adipisci, non
                beatae illo!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, beatae unde? Saepe expedita quia maxime
                blanditiis optio aliquid pariatur cupiditate temporibus suscipit impedit, hic deleniti voluptates, adipisci, non
                beatae illo!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, beatae unde? Saepe expedita quia maxime
                blanditiis optio aliquid pariatur cupiditate temporibus suscipit impedit, hic deleniti voluptates, adipisci, non
                beatae illo!
            </p>
        </div>
        <div class="toggle-btn">
            <div class="show">
                Читать далее
            </div>
        </div>
        <div class="hide">
            Свернуть
        </div>
        <div></div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="tours-card cardHeight m-b-20">
                <img src="../../images/jpg/h2.jfif" alt="">
                <div class="tours-Card-info">
                    <div class="tours-card-title">Отели</div>
                    <p class="tours-card-text">
                        Lorem Ipsum is simply dummy text from the printing and typeseting industry
                    </p>
                    <button class="tours-Card-btn"> Read More</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="tours-card cardHeight m-b-20">
                <img src="../../images/jpg/h2.jfif" alt="">
                <div class="tours-Card-info">
                    <div class="tours-card-title">Отели</div>
                    <p class="tours-card-text">
                        Lorem Ipsum is simply dummy text from the printing and typeseting industry
                    </p>
                    <button class="tours-Card-btn"> Read More</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="tours-card cardHeight m-b-20">
                <img src="../../images/jpg/h2.jfif" alt="">
                <div class="tours-Card-info">
                    <div class="tours-card-title">Отели</div>
                    <p class="tours-card-text">
                        Lorem Ipsum is simply dummy text from the printing and typeseting industry
                    </p>
                    <button class="tours-Card-btn"> Read More</button>
                </div>
            </div>
        </div>
        <div class="col-md-12  m-t-40">
            <div class="info-pays m-b-20">
                <div>Способы оплаты</div>
                <ul class="pays">
                    <li> <a href="#!">Humo</a> </li>
                    <li> <a href="#!">UzCard</a> </li>
                    <li> <a href="#!">Payme</a> </li>
                    <li> <a href="#!">Наличные</a> </li>
                    <li> <a href="#!">Click</a> </li>
                </ul>
            </div>
            <div class="info-time m-b-20">
                <div class="time-info">Продолжительность</div>
                <div>3 часа</div>
            </div>
            <div class="info-ticket ">
                <div class="ticket-info">Источник</div>
                <div><a href=" iticket.uz"> iticket.uz</a></div>
            </div>
            <div></div>
        </div>
    </div>
    <section class="row m-t-40">
        <div class="col-md-7">
            <h2 class="m-b-20">Видео</h2>
            <iframe width="100%" height="500" src="https://www.youtube.com/embed/tgbNymZ7vqY">
            </iframe>
        </div>
    </section>
    <section class="row m-t-40">
        <div class="col-md-8">
            <div>
                <h2 class="m-b-20">Адрес</h2>
                <div class="m-b-20">
                    <div style="width: 100%"><iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=450&amp;hl=en&amp;q=samarkhand,%20registon,uzbekistan+(My%20Business%20Name)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe><a href="https://www.maps.ie/draw-radius-circle-map/"></a></div>
                </div>
                <div>
                    <div class="info-pays m-b-20">
                        <div>Станции метро</div>
                        <ul class="pays">
                            <li> <a href="#!">Мустакиллик майдони 640 м </a> </li>
                            <li> <a href="#!"> Космонавтлар 910 м</a> </li>
                        </ul>
                    </div>
                    <div class="info-time m-b-20">
                        <div class="time-info">Ориентиры</div>
                        <div>Филармония</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 m-t-40">
            <div>
                <div class="address-info">
                    <div>Концертный зал</div>
                    <div><a href="#!">Дворец искусств «Туркистон»</a></div>
                </div>
                <div class="address-info">
                    <div> <strong>Адрес</strong> </div>
                    <div>Ташкент, Юнусабадский р-н, ул. Навои, 2</div>
                    <div><a href="#!">dinarubina</a></div>
                    <div class="m-t-40">
                        <div class="tours-social">
                            <div class="icons">
                                <a href="#!" class="fab fa-facebook-f"></a>
                                <a href="#!" class="fab fa-telegram"></a>
                                <a href="#!" class="fab fa-instagram"></a>
                                <a href="#!" class="fab fa-youtube"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="row m-t-40">
        <div class="col-md-12">
            <h2 class="m-b-20">Расписание</h2>
            <div> Май</div>
            <hr>
        </div>
        <div class="col-md-6">
            <div class="planning">
                <div class="planning-inner">
                    <div class="planning-date">18</div>
                    <div>
                        <div>ВТОРНИК</div>
                        <div> <strong>мая</strong> </div>
                    </div>
                </div>
                <div>19:00</div>
                <div>
                    <div class="m-b-5">ЛИТЕРАТУРНЫЙ КОНЦЕРТ</div>
                    <div class="planning-address"><a href="#!">Дворец искусств «Туркистон»</a></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="ticket-sum"><a href="#!">от 50 000 UZS</a></div>
        </div>
        <div class="col-md-12">
            <hr>
        </div>
    </section>
    <section class="row m-t-40">
        <div class="col-md-12">
            <div class="card-title2">
                <div class="title-card">Обратите внимание</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="tours-card cardHeight m-b-20">
                <img src="../../images/jpg/h1.jfif" alt="">
                <div class="tours-Card-info">
                    <div class="tours-card-title">Отели</div>
                    <p class="tours-card-text">
                        Lorem Ipsum is simply dummy text from the printing and typeseting industry
                    </p>
                    <button class="tours-Card-btn"> Read More</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="tours-card cardHeight m-b-20">
                <img src="../../images/jpg/h1.jfif" alt="">
                <div class="tours-Card-info">
                    <div class="tours-card-title">Отели</div>
                    <p class="tours-card-text">
                        Lorem Ipsum is simply dummy text from the printing and typeseting industry
                    </p>
                    <button class="tours-Card-btn"> Read More</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="tours-card cardHeight m-b-20">
                <img src="../../images/jpg/h1.jfif" alt="">
                <div class="tours-Card-info">
                    <div class="tours-card-title">Отели</div>
                    <p class="tours-card-text">
                        Lorem Ipsum is simply dummy text from the printing and typeseting industry
                    </p>
                    <button class="tours-Card-btn"> Read More</button>
                </div>
            </div>
        </div>
    </section>
</div>
{% include "components/footer.html" %}
{%endblock %}