{% set title = "transport.html" %}


{% extends "main.tpl" %} {% block content %}
<div>
  <div class="page">
    <div class="page-head">
      <div class="page-header">
        {%include "components/header.html" %}
      </div>
      <section class="banner">
        <div class="banner-filter"></div>
        <div class="banner-bg" style="background-image:url('../../images/jpg/cartravel.jpg')"></div>
        <div class="wrap">
          <div class="banner-inner">
            <div class="banner-text">
              <h1 class="banner-title m-b-10">Транспорт</h1>
              <div class="banner-descr">Проникновенный литературный концерт выдающейся Дины Рубиной — одной из самых
                читаемых
                современных авторов, <br> лауреата многих престижных международных премий, чьи книги переведены на 38
                языков
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<div class="myContainer">
  <section class="m-t-40">
    <div class="card-title">
      <div class="title-card">Транспорт</div>
      <div><a class="card-sublink" href="#!">Смотреть все</a></div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-4">

        <div class="tours-card m-t-40">
          <img src="../../images/jpg/cartravel.jpg" alt="">
          <div class="tours-Card-info">
            <div class="tours-card-title">Транспорт</div>
            <p class="tours-card-text">
              Lorem Ipsum is simply dummy text from the printing and typeseting industry
            </p>
            <button class="tours-Card-btn"> Read More</button>
          </div>
        </div>

      </div>
      <div class="col-sm-12 col-md-4">
        <div class="tours-card m-t-40">
          <img src="../../images/jpg/cartravel.jpg" alt="">
          <div class="tours-Card-info">
            <div class="tours-card-title">Транспорт</div>
            <p class="tours-card-text">
              Lorem Ipsum is simply dummy text from the printing and typeseting industry
            </p>
            <button class="tours-Card-btn"> Read More</button>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="tours-card m-t-40">
          <img src="../../images/jpg/cartravel.jpg" alt="">
          <div class="tours-Card-info">
            <div class="tours-card-title">Транспорт</div>
            <p class="tours-card-text">
              Lorem Ipsum is simply dummy text from the printing and typeseting industry
            </p>
            <button class="tours-Card-btn"> Read More</button>
          </div>
        </div>
      </div>

    </div>
  </section>
  <section class="m-t-40">
    <!-- <div class="card-title">
      <div class="title-card">Транспорт</div>
      <div><a class="card-sublink" href="#!">Смотреть все</a></div>
    </div> -->
    <hr>
    <div class="row">
      <div class="col-sm-12 col-md-4">

        <div class="tours-card m-t-40">
          <img src="http://picsum.photos/1009" alt="">
          <div class="tours-Card-info">
            <div class="tours-card-title">Транспорт</div>
            <p class="tours-card-text">
              Lorem Ipsum is simply dummy text from the printing and typeseting industry
            </p>
            <button class="tours-Card-btn"> Read More</button>
          </div>
        </div>

      </div>
      <div class="col-sm-12 col-md-4">
        <div class="tours-card m-t-40">
          <img src="http://picsum.photos/100" alt="">
          <div class="tours-Card-info">
            <div class="tours-card-title">Транспорт</div>
            <p class="tours-card-text">
              Lorem Ipsum is simply dummy text from the printing and typeseting industry
            </p>
            <button class="tours-Card-btn"> Read More</button>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="tours-card m-t-40">
          <img src="http://picsum.photos/1008" alt="">
          <div class="tours-Card-info">
            <div class="tours-card-title">Транспорт</div>
            <p class="tours-card-text">
              Lorem Ipsum is simply dummy text from the printing and typeseting industry
            </p>
            <button class="tours-Card-btn"> Read More</button>
          </div>
        </div>
      </div>

    </div>
  </section>
  <section class="m-t-40">
    <!-- <div class="card-title">
      <div class="title-card">Транспорт</div>
      <div><a class="card-sublink" href="#!">Смотреть все</a></div>
    </div> -->
    <hr>
    <div class="row">
      <div class="col-sm-12 col-md-4">

        <div class="tours-card m-t-40">
          <img src="http://picsum.photos/1011" alt="">
          <div class="tours-Card-info">
            <div class="tours-card-title">Транспорт</div>
            <p class="tours-card-text">
              Lorem Ipsum is simply dummy text from the printing and typeseting industry
            </p>
            <button class="tours-Card-btn"> Read More</button>
          </div>
        </div>

      </div>
      <div class="col-sm-12 col-md-4">
        <div class="tours-card m-t-40">
          <img src="http://picsum.photos/1004" alt="">
          <div class="tours-Card-info">
            <div class="tours-card-title">Транспорт</div>
            <p class="tours-card-text">
              Lorem Ipsum is simply dummy text from the printing and typeseting industry
            </p>
            <button class="tours-Card-btn"> Read More</button>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="tours-card m-t-40">
          <img src="http://picsum.photos/1005" alt="">
          <div class="tours-Card-info">
            <div class="tours-card-title">Транспорт</div>
            <p class="tours-card-text">
              Lorem Ipsum is simply dummy text from the printing and typeseting industry
            </p>
            <button class="tours-Card-btn"> Read More</button>
          </div>
        </div>
      </div>

    </div>
  </section>
</div>

{% include "components/footer.html" %}

{%endblock %}