<footer class=" m-t-40">
  <div class="myContainer">
    <div class="row">
      <div class="col-md-3">
        <div>
          <p class="footer-social-title"><a href="#!">LOGO</a></p>
          <p><a href="#!">О проекте</a></p>
          <p><a href="#!">Контакты</a></p>
        </div>
      </div>
      <div class="col-md-3">
        <div>
          <p class="footer-social-title"> Партнерам и организаторам</p>
          </p>
          <p><a href="#!"> Размещение событий</a></p>
          <p><a href="#!"> Требования к фотографиям</a></p>
        </div>
      </div>
      <div class="col-md-6">
        <p class="footer-social-title"> Следите за нами в социальных сетях</p>
        <div class="footer-social-wrap">
          <a class="footer-social-link" href="#!"><img src="../../../images/png/facebook.png" alt=""></a>
          <a class="footer-social-link" href="#!"><img src="../../../images/png/instagram.png" alt=""></a>
          <a class="footer-social-link" href="#!"><img src="../../../images/png/telegram.png" alt=""></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="footer-info">
          <p>Политика конфиденциальности </p>
          <p>Редакционная политика</p>
        </div>
        <div>
          <p>© 2018–2020 ООО «LOGO». Свидетельство регистрации электронного СМИ №1245</p>
          <p>Права на текстовые и другие материалы, размещенные на сайте, охраняются законом. При цитировании
            обязательна прямая ссылка на LOGO.uz</p>
          <p>Сайт работает в тестовом режиме.</p>
        </div>
      </div>
    </div>
  </div>
</footer>