<header>
  <div class="myContainer">
    <div class="header-inner">
      <div class="top-header">
        <div> <a class="header-logo" href="#!">LOGO</a> </div>
        <div><a class="header-add-event" href="#!">Добавить обьявление</a></div>
      </div>
      <div class="nav-wrap">
        <nav class="burger-menu ">
          <a href="#!" class="burger-menu-btn"><span class="burger-menu-lines"></span></a>
          <ul class="burger-menu-nav menu">
            <li><a class="menu-link" href="#!">Города</a>

            </li>
            <li class="dropDown"><a class="menu-link " href="/tours.html">Туры</a>
              <ul class="dropDown-content">
                <li><a href="/gids.html">Гид</a></li>
                <li><a href="#!">Link</a></li>
                <li><a href="#!">Link</a></li>
              </ul>
            </li>
            <li><a class="menu-link" href="/hotels.html">Отели</a></li>
            <li><a class="menu-link" href="/restuarant.html">Рестораны</a></li>
            <li><a class="menu-link" href="/transport.html">Транспорт</a></li>
            <li><a class="menu-link" href="/destinations.html">Места для посешения</a></li>
            <li><a class="menu-link" href="#!">Новости</a></li>
          </ul>
          <div class="burger-menu-overlay">

          </div>
        </nav>

      </div>
    </div>

  </div>
</header>